<h1>Практическая работа №5 "Анализ датасета"</h1>

<h1>Dataset "StarWars"</h1>

Цель: реализовать базовый анализ датасета с помощью библиотеки Pandas на языке программирования Python.

Данный датасет называется "Персонажи из Звёздных войн", который включает в себя 87 персонажей из франшизы с числовыми данными их роста, веса, числа-даты рождения. Также в датасете есть их цвет волос, цвет кожи, цвет глаз, пол, род, транспортные средства, родной мир персонажей, фильмы (появление персонажей) и космические корабли.

Начать работу стоит с импортирования библиотеки pandas для работы с данными. После этого создаём переменную (любое удобное название) 
и присваиваем значение для чтения и импортирования csv. Далее, написав название переменной, выводятся первые и крайние четыре его строки.

In [2]:
import pandas as pd

stars = pd.read_csv("star_wars_character_dataset.csv")
stars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

С помощью метода shape выводим размерность датасета - 87 строк и 14 столбцов.

In [3]:
stars.shape

(87, 14)

Благодаря атрибуту columns выводим список всех колонок в датасете: имя персонажа, его рост, вес, цвет волос, цвет кожи, цвет глаз, возраст, пол и род, название родного мира персонажа по сюжету эпизодов, вид (например человек или робот), фильмы появления персонажа, транспортные средства и космические корабли, используемые персонажем.

In [4]:
stars.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species', 'films',
       'vehicles', 'starships'],
      dtype='object')

Воспользуемся методом nunique() для вывода количества уникальных значений в датасете по каждому столбцу.

In [5]:
stars.nunique()

name          87
height        45
mass          38
hair_color    12
skin_color    31
eye_color     15
birth_year    36
sex            4
gender         2
homeworld     48
species       37
films         24
vehicles      10
starships     16
dtype: int64

С помощью метода unique() выводим все уникальные значения в столбцах "name" - имя персонажа (видим, что имена - уникальные, то есть всего 87 уникальных значений).

In [6]:
stars["name"].unique()

array(['Luke Skywalker', 'C-3PO', 'R2-D2', 'Darth Vader', 'Leia Organa',
       'Owen Lars', 'Beru Whitesun lars', 'R5-D4', 'Biggs Darklighter',
       'Obi-Wan Kenobi', 'Anakin Skywalker', 'Wilhuff Tarkin',
       'Chewbacca', 'Han Solo', 'Greedo', 'Jabba Desilijic Tiure',
       'Wedge Antilles', 'Jek Tono Porkins', 'Yoda', 'Palpatine',
       'Boba Fett', 'IG-88', 'Bossk', 'Lando Calrissian', 'Lobot',
       'Ackbar', 'Mon Mothma', 'Arvel Crynyd', 'Wicket Systri Warrick',
       'Nien Nunb', 'Qui-Gon Jinn', 'Nute Gunray', 'Finis Valorum',
       'Jar Jar Binks', 'Roos Tarpals', 'Rugor Nass', 'Ric Olié', 'Watto',
       'Sebulba', 'Quarsh Panaka', 'Shmi Skywalker', 'Darth Maul',
       'Bib Fortuna', 'Ayla Secura', 'Dud Bolt', 'Gasgano',
       'Ben Quadinaros', 'Mace Windu', 'Ki-Adi-Mundi', 'Kit Fisto',
       'Eeth Koth', 'Adi Gallia', 'Saesee Tiin', 'Yarael Poof',
       'Plo Koon', 'Mas Amedda', 'Gregar Typho', 'Cordé', 'Cliegg Lars',
       'Poggle the Lesser', 'Luminara Unduli', 'Barriss Offee', 'Dormé',
       'Dooku', 'Bail Prestor Organa', 'Jango Fett', 'Zam Wesell',
       'Dexter Jettster', 'Lama Su', 'Taun We', 'Jocasta Nu',
       'Ratts Tyerell', 'R4-P17', 'Wat Tambor', 'San Hill', 'Shaak Ti',
       'Grievous', 'Tarfful', 'Raymus Antilles', 'Sly Moore',
       'Tion Medon', 'Finn', 'Rey', 'Poe Dameron', 'BB8',
       'Captain Phasma', 'Padmé Amidala'], dtype=object)

Таким же образом выведем все уникальные значения из колонки с числовыми данными веса персонажей.

In [7]:
stars["mass"].unique()

array([  77. ,   75. ,   32. ,  136. ,   49. ,  120. ,   84. ,    nan,
        112. ,   80. ,   74. , 1358. ,  110. ,   17. ,   78.2,  140. ,
        113. ,   79. ,   83. ,   20. ,   68. ,   89. ,   90. ,   66. ,
         82. ,   40. ,   55. ,   45. ,   65. ,   87. ,   50. ,   85. ,
         56.2,  102. ,   88. ,   15. ,   48. ,   57. ,  159. ])

С помощью метода sort_values() отсортируем значения в порядке убывания по столбцу birth_year.

Видим, что старше всех - мастер Йода :D

In [8]:
stars.sort_values(by="birth_year", ascending=False)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,masculine,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN

Произведем фильтрацию с условием: извлечем из датасета только те строки, где значение в столбце height больше 180.

In [9]:
stars[stars["height"]>180]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human,A New Hope,NaN,X-wing
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",Tribubble bongo,"Jedi starfighter, Trade Federation cruiser, Na..."
10,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human,"Attack of the Clones, The Phantom Menace, Reve...","Zephyr-G swoop bike, XJ-6 airspeeder","Trade Federation cruiser, Jedi Interceptor, Na..."
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
20,Boba Fett,183.0,78.2,black,fair,brown,31.5,male,masculine,Kamino,Human,"The Empire Strikes Back, Attack of the Clones,...",NaN,Slave 1
21,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid,The Empire Strikes Back,NaN,NaN
22,Bossk,190.0,113.0,none,green,red,53.0,male,masculine,Trandosha,Trandoshan,The Empire Strikes Back,NaN,NaN
30,Qui-Gon Jinn,193.0,89.0,brown,fair,blue,92.0,male,masculine,NaN,Human,The Phantom Menace,Tribubble bongo,NaN
31,Nute Gunray,191.0,90.0,none,mottled green,red,NaN,male,masculine,Cato Neimoidia,Neimodian,"Attack of the Clones, The Phantom Menace, Reve...",NaN,NaN
33,Jar Jar Binks,196.0,66.0,none,orange,orange,52.0,male,masculine,Naboo,Gungan,"Attack of the Clones, The Phantom Menace",NaN,NaN
34,Roos Tarpals,224.0,82.0,none,grey,orange,NaN,male,masculine,Naboo,Gungan,The Phantom Menace,NaN,NaN
35,Rugor Nass,206.0,NaN,none,green,orange,NaN,male,masculine,Naboo,Gungan,The Phantom Menace,NaN,NaN
36,Ric Olié,183.0,NaN,brown,fair,blue,NaN,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,Naboo Royal Starship
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,NaN
47,Mace Windu,188.0,84.0,none,dark,brown,72.0,male,masculine,Haruun Kal,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,NaN
48,Ki-Adi-Mundi,198.0,82.0,white,pale,yellow,92.0,male,masculine,Cerea,Cerean,"Attack of the Clones, The Phantom Menace, Reve...",NaN,NaN
49,Kit Fisto,196.0,87.0,none,green,black,NaN,male,masculine,Glee Anselm,Nautolan,"Attack of the Clones, The Phantom Menace, Reve...",NaN,NaN
51,Adi Gallia,184.0,50.0,none,dark,blue,NaN,female,feminine,Coruscant,Tholothian,"The Phantom Menace, Revenge of the Sith",NaN,NaN
52,Saesee Tiin,188.0,NaN,none,pale,orange,NaN,male,masculine,Iktotch,Iktotchi,"The Phantom Menace, Revenge of the Sith",NaN,NaN
53,Yarael Poof,264.0,NaN,none,white,yellow,NaN,male,masculine,Quermia,Quermian,The Phantom Menace,NaN,NaN
54,Plo Koon,188.0,80.0,none,orange,black,22.0,male,masculine,Dorin,Kel Dor,"Attack of the Clones, The Phantom Menace, Reve...",NaN,Jedi starfighter
55,Mas Amedda,196.0,NaN,none,blue,blue,NaN,male,masculine,Champala,Chagrian,"Attack of the Clones, The Phantom Menace",NaN,NaN
56,Gregar Typho,185.0,85.0,black,dark,brown,NaN,male,masculine,Naboo,Human,Attack of the Clones,NaN,Naboo fighter
58,Cliegg Lars,183.0,NaN,brown,fair,blue,82.0,male,masculine,Tatooine,Human,Attack of the Clones,NaN,NaN
59,Poggle the Lesser,183.0,80.0,none,green,yellow,NaN,male,masculine,Geonosis,Geonosian,"Attack of the Clones, Revenge of the Sith",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,masculine,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
64,Bail Prestor Organa,191.0,NaN,black,tan,brown,67.0,male,masculine,Alderaan,Human,"Attack of the Clones, Revenge of the Sith",NaN,NaN
65,Jango Fett,183.0,79.0,black,tan,brown,66.0,male,masculine,Concord Dawn,Human,Attack of the Clones,NaN,NaN
67,Dexter Jettster,198.0,102.0,none,brown,yellow,NaN,male,masculine,Ojom,Besalisk,Attack of the Clones,NaN,NaN
68,Lama Su,229.0,88.0,none,grey,black,NaN,male,masculine,Kamino,Kaminoan,Attack of the Clones,NaN,NaN
69,Taun We,213.0,NaN,none,grey,black,NaN,female,feminine,Kamino,Kaminoan,Attack of the Clones,NaN,NaN
73,Wat Tambor,193.0,48.0,none,"green, grey",unknown,NaN,male,masculine,Skako,Skakoan,Attack of the Clones,NaN,NaN
74,San Hill,191.0,NaN,none,grey,gold,NaN,male,masculine,Muunilinst,Muun,Attack of the Clones,NaN,NaN
76,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,masculine,Kalee,Kaleesh,Revenge of the Sith,Tsmeu-6 personal wheel bike,Belbullab-22 starfighter
77,Tarfful,234.0,136.0,brown,brown,blue,NaN,male,masculine,Kashyyyk,Wookiee,Revenge of the Sith,NaN,NaN
78,Raymus Antilles,188.0,79.0,brown,light,brown,NaN,male,masculine,Alderaan,Human,"Revenge of the Sith, A New Hope",NaN,NaN
80,Tion Medon,206.0,80.0,none,grey,black,NaN,male,masculine,Utapau,Pau'an,Revenge of the Sith,NaN,NaN

Проведём выборку данных по строкам и столбцам с помощью метода loc.

Выберем определенную строку по метке индекса:

In [10]:
data = stars.loc[17]
data

name          Jek Tono Porkins
height                   180.0
mass                     110.0
hair_color               brown
skin_color                fair
eye_color                 blue
birth_year                 NaN
sex                       male
gender               masculine
homeworld           Bestine IV
species                  Human
films               A New Hope
vehicles                   NaN
starships               X-wing
Name: 17, dtype: object

Выберем несколько строк и столбцов:

In [11]:
subset = stars.loc[[0,13,56], ["name", "starships", "films"]]
subset

,name,starships,films
0,Luke Skywalker,"X-wing, Imperial shuttle","The Empire Strikes Back, Revenge of the Sith, ..."
13,Han Solo,"Millennium Falcon, Imperial shuttle","The Empire Strikes Back, Return of the Jedi, A..."
56,Gregar Typho,Naboo fighter,Attack of the Clones

Выведем строки с определённым условием - в столбце hair_color должны быть только значения "black".

In [12]:
data_stars = stars.loc[stars["hair_color"] == "black"]
data_stars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human,A New Hope,NaN,X-wing
20,Boba Fett,183.0,78.2,black,fair,brown,31.5,male,masculine,Kamino,Human,"The Empire Strikes Back, Attack of the Clones,...",NaN,Slave 1
23,Lando Calrissian,177.0,79.0,black,dark,brown,31.0,male,masculine,Socorro,Human,"The Empire Strikes Back, Return of the Jedi",NaN,Millennium Falcon
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian,"Attack of the Clones, The Phantom Menace",NaN,NaN
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,NaN
40,Shmi Skywalker,163.0,NaN,black,fair,brown,72.0,female,feminine,Tatooine,Human,"Attack of the Clones, The Phantom Menace",NaN,NaN
50,Eeth Koth,171.0,NaN,black,brown,brown,NaN,male,masculine,Iridonia,Zabrak,"The Phantom Menace, Revenge of the Sith",NaN,NaN
56,Gregar Typho,185.0,85.0,black,dark,brown,NaN,male,masculine,Naboo,Human,Attack of the Clones,NaN,Naboo fighter
60,Luminara Unduli,170.0,56.2,black,yellow,blue,58.0,female,feminine,Mirial,Mirialan,"Attack of the Clones, Revenge of the Sith",NaN,NaN
61,Barriss Offee,166.0,50.0,black,yellow,blue,40.0,female,feminine,Mirial,Mirialan,Attack of the Clones,NaN,NaN
64,Bail Prestor Organa,191.0,NaN,black,tan,brown,67.0,male,masculine,Alderaan,Human,"Attack of the Clones, Revenge of the Sith",NaN,NaN
65,Jango Fett,183.0,79.0,black,tan,brown,66.0,male,masculine,Concord Dawn,Human,Attack of the Clones,NaN,NaN
81,Finn,NaN,NaN,black,dark,dark,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,NaN

Выберем конктретную ячейку данных - 23 строка и столбец "starships":

In [13]:
value_one = stars.loc[23, "starships"]
value_one

'Millennium Falcon'

Проведем анализ датасета с помощью функции info(), выводится следующая информация:
- общее количество и названия всех столбцов, 
- количество непустых значений в каждом столбце(например, в столбце name 87 непустых значений, в столбце starships - 20 непустых значений)
- тип данных каждого столбца (например, в столбце birth_year тип данных float64 - то есть тип данных с плавающей точкой)
- количество использованной памяти - 9,6+ КБ

In [14]:
stars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
 11  films       87 non-null     object
 12  vehicles    11 non-null     object
 13  starships   20 non-null     object
dtypes: float64(3), object(11)
memory usage: 9.6+ KB

Проведем анализ датасета с помощью функции describe() - статистическое описание числовых данных:
- count - количество непустых значений в столбцах с числовыми значениями - name, mass, height
- mean - среднее арифметическое значение (сумма всех значений столбца, деленная на количество этих значений)
- std - стандартное отклонение относительно среднего значения, в столбце height оно небольшое -  34,7, следовательно разброс по данным небольшой, а вот в столбце mass отклонение равно 169,4 - разброс по данным существенно больше
- min показывает минимальное значение в столбце
- max аналогично показывает максимальное значение в столбце
- 25% - первый квартиль (нижний) - значение разделяет самые низкие 25% данных
- 50% - медиана - значение разделяет данные пополам
- 75% - третий квартиль (верхний) - значение разделяет самые низкие 75% данных

In [15]:
stars.describe()

           height         mass  birth_year
count   81.000000    59.000000   43.000000
mean   174.358025    97.311864   87.565116
std     34.770429   169.457163  154.691439
min     66.000000    15.000000    8.000000
25%    167.000000    55.600000   35.000000
50%    180.000000    79.000000   52.000000
75%    191.000000    84.500000   72.000000
max    264.000000  1358.000000  896.000000

Заменим одни данные на другие с помощью loc:

как можно увидеть из кода ниже, данных в 77 строке по столбцу "starships" нет - выводится nan
Заменим пустые данные на "spaceship".

In [16]:
value_one = stars.loc[77, "starships"]
value_one

nan

In [17]:
stars.loc[77, "starships"] = "spaceship"

Теперь в 77 строке данного столбца другие данные.

In [18]:
value_one = stars.loc[77, "starships"]
value_one

'spaceship'

Замену также можно произвести с помощью метода replace. Заменим все "nan" на "unknown"

In [19]:
import numpy as np
stars = stars.replace({"mass":np.nan}, "unknown")

Посмотрим на результат:

In [20]:
data_stars_two = stars.loc[stars["mass"] == "unknown"]
data_stars_two

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
11,Wilhuff Tarkin,180.0,unknown,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human,"Revenge of the Sith, A New Hope",NaN,NaN
26,Mon Mothma,150.0,unknown,auburn,fair,blue,48.0,female,feminine,Chandrila,Human,Return of the Jedi,NaN,NaN
27,Arvel Crynyd,NaN,unknown,brown,fair,brown,NaN,male,masculine,NaN,Human,Return of the Jedi,NaN,A-wing
32,Finis Valorum,170.0,unknown,blond,fair,blue,91.0,male,masculine,Coruscant,Human,The Phantom Menace,NaN,NaN
35,Rugor Nass,206.0,unknown,none,green,orange,NaN,male,masculine,Naboo,Gungan,The Phantom Menace,NaN,NaN
36,Ric Olié,183.0,unknown,brown,fair,blue,NaN,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,Naboo Royal Starship
37,Watto,137.0,unknown,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian,"Attack of the Clones, The Phantom Menace",NaN,NaN
39,Quarsh Panaka,183.0,unknown,black,dark,brown,62.0,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,NaN
40,Shmi Skywalker,163.0,unknown,black,fair,brown,72.0,female,feminine,Tatooine,Human,"Attack of the Clones, The Phantom Menace",NaN,NaN
42,Bib Fortuna,180.0,unknown,none,pale,pink,NaN,male,masculine,Ryloth,Twi'lek,Return of the Jedi,NaN,NaN
45,Gasgano,122.0,unknown,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto,The Phantom Menace,NaN,NaN
50,Eeth Koth,171.0,unknown,black,brown,brown,NaN,male,masculine,Iridonia,Zabrak,"The Phantom Menace, Revenge of the Sith",NaN,NaN
52,Saesee Tiin,188.0,unknown,none,pale,orange,NaN,male,masculine,Iktotch,Iktotchi,"The Phantom Menace, Revenge of the Sith",NaN,NaN
53,Yarael Poof,264.0,unknown,none,white,yellow,NaN,male,masculine,Quermia,Quermian,The Phantom Menace,NaN,NaN
55,Mas Amedda,196.0,unknown,none,blue,blue,NaN,male,masculine,Champala,Chagrian,"Attack of the Clones, The Phantom Menace",NaN,NaN
57,Cordé,157.0,unknown,brown,light,brown,NaN,female,feminine,Naboo,Human,Attack of the Clones,NaN,NaN
58,Cliegg Lars,183.0,unknown,brown,fair,blue,82.0,male,masculine,Tatooine,Human,Attack of the Clones,NaN,NaN
62,Dormé,165.0,unknown,brown,light,brown,NaN,female,feminine,Naboo,Human,Attack of the Clones,NaN,NaN
64,Bail Prestor Organa,191.0,unknown,black,tan,brown,67.0,male,masculine,Alderaan,Human,"Attack of the Clones, Revenge of the Sith",NaN,NaN
69,Taun We,213.0,unknown,none,grey,black,NaN,female,feminine,Kamino,Kaminoan,Attack of the Clones,NaN,NaN
70,Jocasta Nu,167.0,unknown,white,fair,blue,NaN,female,feminine,Coruscant,Human,Attack of the Clones,NaN,NaN
72,R4-P17,96.0,unknown,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid,"Attack of the Clones, Revenge of the Sith",NaN,NaN
74,San Hill,191.0,unknown,none,grey,gold,NaN,male,masculine,Muunilinst,Muun,Attack of the Clones,NaN,NaN
81,Finn,NaN,unknown,black,dark,dark,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,unknown,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,unknown,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,unknown,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN


Методом drop_duplicates() удалим дубликаты в датасете.

In [21]:
stars.drop_duplicates()
stars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,unknown,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,unknown,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,unknown,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

Удалим строчку в датасете с помощью метода drop:
Возьмем, к примеру, строку 84.

In [22]:
stars.drop(84, axis=0)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,unknown,black,dark,dark,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,unknown,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,unknown,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
85,Captain Phasma,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

Удалим таким же образом столбец "gender".

In [23]:
stars.drop(columns= ["gender"], inplace=False)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,unknown,brown,light,hazel,NaN,female,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,unknown,brown,light,brown,NaN,male,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,unknown,none,none,black,NaN,none,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

Сохраним новый датасет в формат csv.

In [24]:
stars.to_csv('new_set_clear_1.csv', index=False)

Посмотрим на его содержимое:

In [26]:
new = pd.read_csv("new_set_clear_1.csv")
new

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,unknown,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,unknown,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,unknown,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

Вывод: в ходе выполенения практической работы был реализован базовый анализ датасета "StarWars" с помощью библиотеки Pandas на языке программирования Python.